.article {
  position: relative;
  --gap: 0;
  @extend %flex;

  h1 {
    @extend %title-60;

    em {
      font-style: italic;
    }
  }

  p {
    @extend %title-45;
    max-width: 32ch;

    em {
      font-style: italic;
    }
  }

  *[aria-hidden="true"] {
    display: none;
  }

  &:hover {
    .article__btn {
      opacity: 1;
      visibility: visible;
    }
  }

  @include media("<phone") {
    --gap: 2.8rem;
    align-items: center;
    flex-direction: column;

    padding-block: 2.8rem;

    h1, p {
      text-align: center;
    }

    p {
      order: 2;
    }

    *[aria-hidden="true"] {
      display: unset;
    }
  }
}

.article__img {
  @include ratio(337, 270);
  position: relative;

  min-width: 33.7rem;
  width: 22vw;
  min-height: 27rem;

  border-right: 1px solid var(--border-01-clr);
  object-fit: cover;

  img {
    object-fit: cover;

  }

  
  @include media("<phone") {
    @include ratio(193.5, 170);

    min-width: 38.7rem;
    min-height: 34rem;
    height: 34rem;

    border-right: unset;

    order: 1;
  }
}

.article__info {
  --gap: 3rem;
  @extend %flex;
  flex-direction: column;

  flex: 1;
  padding-block: 2.9rem 3.2rem;
  padding-inline: 2.2rem;

  @include media("<phone") {
    display: none;
  }
}

.article__btn {
  @extend %button-text-12;
  position: absolute;
  bottom: 1.6rem;
  right: 0;

  padding-inline: 1rem;
  padding-block: 0.8rem;
  background-color: var(--surface-01-clr);
  border-radius: var(--border-rad-02);

  opacity: 0;
  visibility: hidden;

  @include media("<phone") {
    display: none;
  }
}
