.article-modal {
  position: fixed;
  z-index: z('modal');
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;

  transform: translateY(100%);
  visibility: hidden;


  transition: 0.6s cubic-bezier(0.6, -0.28, 0.735, 0.045);

  &[data-open='true'] {
    transform: translateY(0%);
    visibility: visible;
  }
}

.article-modal__wrapper {
  position: relative;
  margin-block: 6.7rem;
  margin-inline: auto;
  padding-block: 3.6rem;
  padding-inline: 4rem;

  width: 93rem;
  height: 100%;

  &::before {
    content: '';
    position: absolute;
    z-index: -1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: var(--border-rad-01);
    background-color: var(--surface-02-clr);
    filter: blur(12px);
  }
}

.article-modal__header {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  padding-block: 3.6rem;

  @extend %space-between;
  align-items: center;

  &::before {
    content: '';
    position: absolute;
    z-index: -1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: var(--border-rad-01);
    background-color: var(--surface-02-clr);
    filter: blur(12px);
  }
}

.article-modal__close-btn {
  @extend %button-text-25;
  margin-inline: auto;
}

.article-modal__content {
  --gap: 3.2rem;
  @extend %flex;
  flex-direction: column;

  padding-block: 11.6rem;
  overflow-y: auto;
  height: 100%;

  scrollbar-width: 0;
}

.article-modal__img {
  @include ratio(732, 586);
  position: relative;
  margin-inline: 6rem;
  width: 73.2rem;
  min-height: 58.6rem;

  img {
    object-fit: cover;
  }
}

.article-modal__paragraph {
  @extend %paragraph-48;
  text-align: center;
}
