.section {
  --gap: 2.8rem;
  @extend %flex;
  flex-direction: column;

  ul {

    li,
    button {
      @extend %paragraph-31;
      white-space: pre-line;
      text-transform: capitalize;
    }
  }
}

.section__title {
  @extend %title-30;
  text-transform: uppercase;
  text-align: center;

  padding-block: 2rem;
  border: 1px solid var(--border-01-clr);

  @include media("<phone") {
    margin-block-start: 2.4rem;
    padding-block: 4rem;

  }
}

.section__paragraph {
  @extend %paragraph-31;
  white-space: pre-wrap;
}
