%paragraph-14 {
  font-size: 1.4rem;
  line-height: 1.16;
  font-weight: 400;
  font-family: Helvetica;


  @include media("<phone") {
    font-size: 2.8rem;

  }
}

%paragraph-24 {
  font-size: 2.4rem;
  line-height: 1.16;
  font-weight: 400;
  font-family: Helvetica;

  @include media("<phone") {
    font-size: 4.2rem;
  }
}

%paragraph-31 {
  font-size: 3.1rem;
  line-height: 1.16;
  font-weight: 400;
  font-family: Helvetica;

  @include media("<phone") {
    font-size: 5.2rem;

  }
}

%paragraph-40 {
  font-size: 4rem;
  line-height: 1.03;
  letter-spacing: -0.01em;
  font-weight: 400;
  font-family: Helvetica;

  @include media("<phone") {
    font-size: 5.2rem;

  }
}

%paragraph-48 {
  font-size: 4.8rem;
  line-height: 1.03;
  letter-spacing: -0.01em;
  font-weight: 400;
  font-family: Helvetica;
}

%paragraph-57 {
  font-size: 5.7rem;
  line-height: 0.95;
  font-weight: 400;
  font-family: Helvetica;
}

%paragraph-80 {
  font-size: 8rem;
  line-height: 0.95;
  font-weight: 400;
  font-family: Helvetica;
}
