%title-25 {
  font-size: 2.5rem;
  line-height: 1.03;
  letter-spacing: -0.01em;
  font-weight: 400;
  font-family: Helvetica;
}


%title-35 {
  font-size: 3.5rem;
  line-height: 1.17;
  letter-spacing: -0.01em;
  font-weight: 400;
  font-family: Helvetica;
}

%title-45 {
  font-size: 4.5rem;
  line-height: 0.95;
  font-weight: 400;
  font-family: Helvetica;
}

%title-48 {
  font-size: 4.8rem;
  line-height: 1.03;
  letter-spacing: -0.01em;
  font-weight: 400;
  font-family: Helvetica;
}

%title-60 {
  font-size: 6rem;
  line-height: 0.98;
  font-weight: 400;
  font-family: Helvetica;
}

%title-98 {
  font-size: 98rem;
  line-height: 1.18;
  letter-spacing: -0.01em;
  font-weight: 400;
  font-family: Helvetica;
}
