.contact {
  @extend %page;
}

.contact__wrapper {
  @extend %page__wrapper;

  padding-inline-start: 11vh;
  padding-block: 2rem;

  padding-inline-end: 2rem;

  img {
    @include ratio(862, 655);
    position: relative;

    min-width: 86.2rem;
    width: 86.2rem;
    height: 65.5rem;
  }

  p {
    margin-block-start: 4.2rem;
    @extend %paragraph-40;
  }

  @include media("<phone") {
    padding-inline-start: 2rem;
    padding-block: 16rem 2rem;
  }
}

.contact__img {
  @include ratio(862, 655);
  position: relative;

  min-width: 86.2rem;
  width: 86.2rem;
  height: 65.5rem;
}

.contact__address {
  margin-block-start: 4.2rem;
  @extend %paragraph-40;
}
