.the-place {
  @extend %page;
}

.the-place__wrapper {
  @extend %page__wrapper;

  padding-block: 2rem;
  transform: translateX(max(-14vh, -11rem));

  overflow: visible;

  @include media("<phone") {
    transform: unset;
    padding-inline-start: 2rem;
    padding-block: 16rem 2rem;

    overflow: hidden;

  }
}

.the-place-carousel {
  &+& {
    margin-block-start: 12.4rem;
  }
}

.the-place__swiper {
  overflow: visible !important;
  pointer-events: all;
}

.the-place__swiper__slide {
  --gap: 4.6rem;
  @extend %flex;
  flex-direction: column;
}

.the-place__swiper__slide__img {
  @include ratio(984, 655);
  position: relative;

  min-width: 98.4rem;
  width: 98.4rem;
  height: 65.5rem;

  cursor: url('/images/cursor-open-img.png'), auto;

  img {
    object-fit: cover;
    object-position: top;
  }

  @include media("<phone") {
    min-width: unset;
    width: 89vw;
    height: unset;
  }
}

.the-place__swiper__slide__title,
.the-place__swiper__slide__paragraph {
  @extend %paragraph-40;
  margin-inline-start: 25.2rem;

  min-width: 58ch;
  margin-block-start: 2.2rem;

  @include media("<phone") {
    margin-inline-start: 2rem;

  }
}

.the-place__swiper__slide__title {
  margin-block-start: 6.2rem;
}
