.library {
  @extend %page;
}

.library__wrapper {
  @extend %page__wrapper;

  padding-inline-start: 11vh;

  padding-inline-end: 2rem;
  padding-block: 2rem;

  height: 100vh;
  @extend %space-between;
  align-items: flex-start;
  flex-direction: column;

  h1 {
    @extend %paragraph-57;
    max-width: 36ch;

    em {
      font-style: italic;
    }
  }

  @include media("<phone") {
    padding-inline-start: 2rem;
    padding-block: 16rem 2rem;
  }
}

.library__link {
  width: 100%;
  @extend %space-between;

  padding-block-end: 0.8rem;
  border-bottom: 2px solid var(--border-01-clr);

  >span {
    @extend %button-text-35;

    &:last-of-type {
      font-style: italic;
    }
  }
}
