@font-face {
  font-family: 'GT Alpina Trial';
  src: url('/fonts/gt-alpine/GT-Alpina-Standard-Regular-Italic.woff2') format('woff2');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'ABC Diatype Mono Unlicensed Trial';
  src: url('/fonts/abc-diatype/ABCDiatypeMono-Regular.woff2') format('woff2'),
    url('/fonts/abc-diatype/ABCDiatypeMono-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
